<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="autotester.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=192.168.0.213:1799/SPATE;PASSWORD=spaspaspa;USER ID=SPA"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="autotester.Properties.Settings.ConnectionStringSPA_PCH"
            connectionString="DATA SOURCE=192.168.0.213:1799/SPATE;PASSWORD=pchpchpch;PERSIST SECURITY INFO=True;USER ID=PCH"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="autotester.Properties.Settings.SPATE" connectionString="DATA SOURCE=192.168.0.213:1710/SPATE11;PASSWORD=pchpchpch;PERSIST SECURITY INFO=True;USER ID=PCH"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="autotester.Properties.Settings.ConnectionString1View"
            connectionString="DATA SOURCE=192.168.0.213:1710/SPATE11;PASSWORD=spaspaspa;PERSIST SECURITY INFO=True;USER ID=SPA"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>